*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #7600fd;
    --secondary-color: #1f1d1d; 
}

header{
    padding: 20px 10pc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h2{
    font-size: 30px;
    font-family: cursive;
    color: #7600fd;
    font-weight: 800;
}
header button{
    background: none;
    border: none;
    padding: 15px 20px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background: linear-gradient(#7600fd, #1f1d1d);
    color: aliceblue;
    border-radius: 25px;
    transition: all 2s ease;
    cursor: pointer;
}
header button:hover{
    background: linear-gradient(#1f1d1d, #7600fd) ;
}

/* search section styling */

.search-section{
    margin: 20px;
}
.search-section .intro-text h1{
    text-align: center;
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--secondary-color);
    margin-bottom: 30px;
}

.search-section .search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-section .search input{
    height: 45px;
    width: 20pc;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.search-section .search button{
    height: 45px;
    padding: 10px 30px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background: var(--secondary-color);
    outline: none;
    color: aliceblue;
    border: none;
    font-size: 20px;
    font-weight: 500;
    margin-left: 2px;
}
.search-results{
    margin: 20px;
    display: flex;
    
    justify-content: left;
    align-items: center;
}
.search-result{
    padding: 20px 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0.1);
    margin-left: 15px;
    border-radius: 10px;
}
.search-result img{
    max-width: 350px;
    border-radius: 10px;
    transition: all.2s ease-in;
}
.search-result .container-info{
    display: flex;
    flex-direction: column;
}
.search-result .container-info p{
    width: 100%;
    line-height: 2;
    word-wrap: break-word;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: #1f1d1d;
}
.search-result .container-info a{
    outline: none;
    text-decoration: none;
    color: black;
    background: #1f1d1d;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    color: #fff;
    border-radius: 20px;
    font-weight: 500;
    margin: 10px 25px;
    transition: opacity .4s ease-in-out;
}
.search-result .container-info a:hover{
    opacity: 0.8;
}
.search-result:hover img{
    transform: scale(1.06);
}